<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ClipboardHistoryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="kavengagne.ClipboardHistory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<ClipboardHistoryApp.Properties.Settings>
			<setting name="VisualStudioClipboardOnly" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="HistoryCollectionCapacity" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="CopyDataShortNumLines" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="PreventDuplicateItems" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ToolTipHoverDelay" serializeAs="String">
				<value>300</value>
			</setting>
		</ClipboardHistoryApp.Properties.Settings>
		<kavengagne.ClipboardHistory.Properties.Settings>
			<setting name="VisualStudioClipboardOnly" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="HistoryCollectionCapacity" serializeAs="String">
				<value>25</value>
			</setting>
			<setting name="CopyDataShortNumLines" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="PreventDuplicateItems" serializeAs="String">
				<value>False</value>
			</setting>
		</kavengagne.ClipboardHistory.Properties.Settings>
	</userSettings>
	<startup/></configuration>
